/* Reset base e sfondo */
*,
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  
}

.div-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 20px;
  background-color: rgba(120, 150, 255, 0.85);
}

.navbar {
  display: flex;
  gap: 40px;
}

.navbar a {
  color: white;
  text-decoration-line: none;
}

.hero-banner {
  margin-top: 20px;
  position: relative;
  height: 50vh;
  background-size: cover;
  background-position: center;
  transition: background-image 1s ease-in-out;
  display: flex;
  align-items: flex-end;
}

.hero-overlay {
  background: linear-gradient(to top, rgba(0, 0, 50, 0.6), transparent);
  width: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.hero-text {
  color: white;
  font-family: 'Playfair Display', serif;
  font-size: 2rem;

  align-self: flex-start;
}


.hero-button {
  background-color: rgba(120, 150, 255, 0.85);
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1rem;
  transition: 0.3s ease;
}

.hero-button:hover {
  background-color: rgba(100, 130, 230, 0.95);
}

.title-homePage {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 30px;
  color: #25314f;
  font-weight: 300;
  font-family: 'Playfair Display', serif;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  opacity: 0.9;
}
.title-singlePage {
  margin-top: 40px;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 30px;
  color: #25314f;
  font-weight: 300;
  font-family: 'Playfair Display', serif;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  opacity: 0.9;
}

.contatti-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 15px;
  margin-bottom: 40px;
}

.contatti-info p {
  margin: 0;
  font-size: 1.1rem;
  color: #333;
}

.contatti-info a {
  color: rgba(120, 150, 255, 0.85);
  text-decoration: none;
  margin-left: 5px;
}

.contatti-info a:hover {
  text-decoration: underline;
}

.descrizione-contatti {
  font-family: 'Playfair Display', serif;
  font-size: 1.4rem;
  text-align: center;
  color: #25314f;
  font-weight: 300;
  letter-spacing: 0.5px;
  margin-top: 20px;
  opacity: 0.9;
}

.span-home{
  margin-right: 5px;
}

